https://www.sidefx.com/learn-main-menu/tech-demos/
https://www.sidefx.com/docs/houdini/solaris/sample_scenes.html
https://www.sidefx.com/contentlibrary/?o=-publish_date&page=1
https://www.sidefx.com/contentlibrary/warehouse-lights/?utm_source=chatgpt.com
